<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
        <![CDATA[jdbc:postgresql://ec2-54-75-244-248.eu-west-1.compute.amazonaws.com:5432/d9n4pkcd0ismmi?ssl=true&sslfactory=org.postgresql.ssl.NonValidatingFactory]]></property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <mapping class="com.crowdynamics.sigfox.entity.SigfoxMessagesEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>